{{#each products as |product|}}
<div class="cart-product-display" data-id="{{product.id}}">
  <div>
    <h4>{{product.name}}</h4>
    <p>{{product.description}}</p>
    <h4>${{product.price}}</h4>
  </div>
  <button class="remove-product">Remove</button>
</div>
{{/each}}

<div class="total">
<h4>Order total: ${{cartTotal}}</h4>
</div>
