{{#each products as |product|}}

  <ul class="product-form" data-id="{{product.id}}">
    <div>Name: {{product.name}}</div>
    <div>Description: {{product.description}}</div>
    <div>Price: ${{product.price}}</div>
    {{!-- <div>Stock: {{product.stock}}</div> --}}
    <div class="add-resource-product">
        <button class="add-product-button" type ="button" data-id="{{product.id}}">Add Product</button>
    </div>
    <button class="btn admin remove" type="button" name="button">Remove</button>
    <button class="btn admin update" type="button" name="button">Update</button>
  </ul>
{{/each}}
